[Unit]
Description=Needroleshere, yet another AWS IAM Roles Anywhere helper (primary socket)
Documentation=https://github.com/sorah/needroleshere

[Socket]
ListenStream=127.0.0.1:7224
FreeBind=yes

IPAddressAllow=localhost
IPAddressDeny=any

[Install]
WantedBy=sockets.target

# vim: ft=systemd
